@font-face {
    font-family: Badabb;
    src: url('../fonts/Badabb/Badabb.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins.otf');
}

#rp-right {
    background-color: #13131a;
    position: relative;
    height: 100vh;
    overflow: auto;
    padding: 100px 150px;
}

#rp-right h1{
    font-family: sans-serif;
    color: white;
    font-weight: 700;
}