/* .navb:hover {
  background-color: #8d68f2 !important;
} */
.active {
  background-color: #8d68f2;
}
.list-item{
  padding: 8px 10px;
}
.scrollbar {
  overflow-y: hidden; /* Ẩn thanh cuộn mặc định */
}

/* Hiển thị thanh cuộn khi hover vào phần chứa nội dung */
.scrollbar:hover {
  overflow-y: auto; /* Hiển thị thanh cuộn khi hover */
  scrollbar-width: thin;
  scrollbar-color: #cccccc transparent;
}

/* Kéo thanh cuộn */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Thân thanh cuộn */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
