
.hover-card:hover {
  border: 1px solid #cccccc90; 
  cursor: pointer;
  /* font-family: sans-serif; */
}
.active {
  background-color: #20202b;
  border-radius: 20px;
}
.carousel-control-prev-icon{
  margin-right: 50px;
}
.carousel-control-next-icon{
  margin-left: 50px;
}
.list-item{
  padding: 8px 10px;
}
.scrollbar {
  overflow-y: hidden; 
}

.scrollbar:hover {
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #cccccc transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.story-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
}

.story-card {
  display: inline-block;
  margin-right: 10px;
}

.story-container:active {
  cursor: grabbing;
}

.player::placeholder{
  color: white;
  opacity: 0.5;
}

